.imageClass{
    width:200px;
    height:250px;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.bodystyle{
    font-size: 16px;
    font-weight: 400;
}

.pointerCursor {
    cursor: pointer;
}